/*change the button style*/
.submit {
  width: 70px;
  height: 40px;
}
.forgetpass {
  width: 200px;
  height: 40px;
}
button:hover {
  background-color: REPLACEDlawngreen;
  color: rgb(233, 27, 13);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.Save_address {
  width: 200px;
  height: 70px;
}

.modal-close-button {
  position: absolute;
  right: -0.5px;
  top: -40px;
  background-color: rgba(255, 255, 255, 1) !important;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding: 15px;
  opacity: 1;
  /* border: white; */
}
.modal-close-button:hover {
  opacity: 1;
}
