@media (max-width: 700px) {
  .bodyImg {
    margin-top: 30vh;
  }
}
@media (min-width: 701px) {
  .bodyImg {
    margin-top: 20vh;
  }
}
@media (min-width: 850px) {
  .bodyImg {
    margin-top: 15vh;
  }
}
@media (min-width: 1000px) {
  .bodyImg {
    margin-top: 10vh;
  }
}

@media (min-width: 1100px) {
  .bodyImg {
    margin-top: 5vh;
  }
}
.bodyImg {
  position: fixed;
  left: 30vw;
  width: 40vw;
  max-height: 100vh;
  z-index: -10;
}

.bodyImgColor {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -9;
}

/* .app-box {
  min-height: 100vh;
} */

/* body {
  min-height: 100vh;
} */
/* #app-div {
  background-color: white;
  z-index: -11;
  min-height: 100vh;
}

body {
  min-height: 100vh;
}
html {
  min-height: 100vh;
} */

.app-nav {
  min-height: 93.2px;
}

.app-footer {
  min-height: 186.4px;
}
