@media (min-width: 576px) {
  .modal-dialog-new1,
  .modal-dialog-new2 {
    max-width: 1000px !important;
    margin: 1.75rem auto;
  }
}

.Active {
  background-color: lightgray;
  border-radius: 5px;
}

.Active h5 {
  color: black !important;
}
