.contact-us-row {
  min-height: 80vh;
  font-size: 1.5rem;
  width: 100% !important;
  margin: 0;
  padding: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
.location p {
  width: 75%;
  margin: auto;
  color: #2c4776;
  font-size: 1.2rem;
}
.side1 {
  background-color: rgba(202, 192, 227, 0.8);
}
.header1 {
  color: #2c4776;
}
.side2 {
  background-color: rgba(70, 71, 150, 0.8);
}
.header2 {
  color: #c8bee2;
}
.text1 {
  font-size: 20px;
  font-size: 1.5rem;
}
.u-social-icons img:hover {
  animation: a1 0.3s linear 1;
}
@keyframes a1 {
  100% {
    transform: rotate(360deg);
  }
}

.u-social-icons img {
  width: 52px;
  height: 52px;
  font-size: 2rem;
  padding: 0px !important;
  border-radius: 50%;
  /* border: 2px solid #2c4776; */
  /*background-color: #2c4776;*/
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
  color: #c8bee2;
  text-decoration: none;
}
