.contact-us-row {
  min-height: 80vh;
  font-size: 1.5rem;
  width: 100% !important;
  margin: 0;
  padding: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
.location p {
  width: 75%;
  margin: auto;
  color: peachpuff;
  font-size: 1.2rem;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}
.side1 {
  background-color: #7a3e1d;
  background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
}
.header1 {
  color: darkkhaki;
}
.side2 {
  text-shadow: 0 0 10px rgb(0, 0, 0);
  background-color: #7cfc00;
  background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
}
.header2 {
  color: #c8bee2;
}
.text1 {
  font-size: 20px;
  font-size: 1.5rem;
}
.u-social-icons img:hover {
  animation: a1 0.3s linear 1;
}
@keyframes a1 {
  100% {
    transform: rotate(360deg);
  }
}

.u-social-icons img {
  width: 52px;
  height: 52px;
  font-size: 2rem;
  padding: 0px !important;
  border-radius: 50%;
  color: #c8bee2;
  text-decoration: none;
}

.bx-shadow {
  box-shadow: 0 0 3px rgb(0, 0, 0);
}
