.frow {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  padding: 20px 0;
}

.col-name {
  color: salmon;
}
.back {
  color: cyan;
  /* background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); */

  background-color: #292929;
  background-image: url("https://www.transparenttextures.com/patterns/gravel.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.cghid {
  color: grey;
}
.back a {
  color: salmon;
  text-decoration: none;
}

.footer {
  position: relative;
  bottom: 0;
}
