.frow {
  text-align: center;
  /* font-style: italic; */
  font-size: 15px;
  padding: 20px 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.col-name {
  color: salmon;
}
.back {
  color: cyan;
  background-color: #292929;
  background-image: url("https://www.transparenttextures.com/patterns/gravel.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.cghid {
  color: grey;
}
.back a {
  color: #ffe4e1;
  text-decoration: none;
}

/* .footer {
  position: relative;
  bottom: 0;
} */
