.submit {
  width: 70px;
  height: 40px;
}
.forgetpass {
  width: 200px;
  height: 40px;
}
.otp-btn button:hover {
  color: rgb(233, 27, 13);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.Save_address {
  width: 200px;
  height: 70px;
}

.otp::-webkit-inner-spin-button,
.otp::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.otp {
  -moz-appearance: textfield;
}

.otpverify {
  margin-left: 20px;
  float: left;
  width: 40%;
}

.otpresend {
  margin-right: 20px;
  float: right;
  width: 40%;
}

.email-change {
  float: left;
  margin-left: 10px;
}
