.suggestions {
  background-color: rgba(0, 0, 139, 0.6);
  color: white;
  font-size: 0.9rem;
  padding: 2px;
}
.suggestions:hover {
  background-color: skyblue;
}

.slist {
  max-height: 150px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
}

.max-dist {
  display: inline;
  width: 100px;
}

#MAP {
  object-position: center;
  max-height: 250px;
}
.hospital_style {
  background-color: rgba(119, 209, 119, 0.8);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  font-family: "Helvetica One", sans-serif;
}
.bloodgroup-selection {
  margin-right: 2em;
}

.requestBlood-head {
  color: darkmagenta;
  font-family: "Hoefler Text", Georgia, "Times New Roman", serif;
  text-align: center;
}

.rb-note {
  text-align: center;
  font-style: italic;
}

.rb-note2 {
  font-style: italic;
}

.requestBlood-attribute {
  color: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
