@media (min-width: 576px) {
  .modal-dialog-new1,
  .modal-dialog-new2 {
    max-width: 1000px !important;
    margin: 1.75rem auto;
  }
}

.text1 {
  font-size: 30px;
  color: blue;
}
.nav-item1 a:hover {
  background-color: rgb(26, 67, 199);
}
