.nav-item button:hover {
  background-color: whitesmoke;
  /* color: rgb(47, 79, 79); */
}

.unauth-nav-item button {
  background-color: rgba(0, 0, 0, 0);
  /* color: rgb(47, 79, 79); */
}
/* .nav-item button:active {
  background-color: tomato;
} */

.btn-light {
  border: none !important;
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.logo h3 {
  margin-left: 0.5em;
  display: inline;
  font-family: "Paytone One", sans-serif;
  font-size: 1.5em;
  /* color: firebrick; */
}
.icons2 {
  font-family: "Averia Serif Libre", cursive;
  font-size: 1.2em;
}

@media (max-width: 991px) {
  .icons {
    flex-direction: column;
  }
  .icons2 {
    width: 100% !important;
    margin: 0;
  }
}

@keyframes glow {
  0% {
    color: red;
  }

  50% {
    color: gold;
  }

  100% {
    color: darkblue;
  }
}

.glow {
  animation: glow 1s infinite;
}
