.nav-item button:hover {
  background-color: whitesmoke;
  /* color: rgb(47, 79, 79); */
}

.unauth-nav-item button {
  background-color: rgba(0, 0, 0, 0);
  /* color: rgb(47, 79, 79); */
}
/* .nav-item button:active {
  background-color: tomato;
} */

.btn-light {
  border: none !important;
}

.logo {
  margin-bottom: 10px;
  margin-top: 10px;
}

.logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.85);
  /* background-color: rgb(238, 227, 255, 0.8); */
}
.logo h3 {
  margin-left: 0.5em;
  display: inline;
  font-family: "Paytone One", sans-serif;
  font-size: 1.5em;
  /* color: firebrick; */
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.icons2 {
  font-family: "Averia Serif Libre", cursive;
  font-size: 1.2em;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 1);
}

@media (max-width: 991px) {
  .icons {
    flex-direction: column;
  }
  .icons2 {
    width: 100% !important;
    margin: 0;
  }
  .logo img {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

@keyframes glow {
  0% {
    color: red;
  }

  50% {
    color: gold;
  }

  100% {
    color: darkblue;
  }
}

.glow {
  animation: glow 1s infinite;
}
