.blood-type {
  color: red;
  display: inline;
}

.ntemp {
  display: inline;
  font-style: italic;
}

.n-type {
  color: green;
  font-family: "Lucida Console", monospace;
}

.notifyh {
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  color: darkred;
}

.notify-cont {
  margin-left: 10px;
  margin-right: 10px;
}

.unseen {
  background-color: rgba(2, 236, 253, 0.8);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.seen {
  background-color: rgba(119, 235, 243, 0.8);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.n-refresh {
  float: right;
  width: 80px;
  margin-right: 10px;
  background-color: darkmagenta;
  color: white;
}

.n-refresh:hover {
  color: white;
}
