.blood-type {
  color: red;
  display: inline;
}

.ntemp {
  display: inline;
  font-style: italic;
}

.n-type {
  color: green;
  font-family: "Lucida Console", monospace;
}

.notifyh {
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  color: darkred;
}

.notify-cont {
  margin-left: 10px;
  margin-right: 10px;
}

.unseen {
  background-color: rgba(2, 236, 253, 0.8);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 0.8em;
  border-radius: 1%;
}

.seen {
  background-color: rgba(119, 235, 243, 0.8);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 0.8em;
  border-radius: 1%;
}

.n-refresh {
  float: right;
  display: inline;
  width: 80px;
  margin-left: 20px;
  margin-right: 10px;
  background-color: darkmagenta;
  color: white;
}

.n-refresh:hover {
  color: white;
}

.n-clear {
  display: inline;
  float: right;
  width: 100px;
}

.n-empty {
  color: red;
  font-family: "Lucida Console", monospace;
  text-align: center;
}

.n-close {
  float: right;
}

.n-time {
  display: inline;
  font-style: italic;
  color: rgb(104, 101, 101);
  /* float: right; */
  margin-left: 50px;
  margin-right: 20x;
}

@media (max-width: 510px) {
  .n-time {
    display: block;
    margin-left: 0px;
  }
}
