.creatorRow {
  background: rgba(255, 239, 186, 0.7);
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 239, 186, 0.7)
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 239, 186, 0.7)
  );
  /* box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.9); */
}

.flip-card {
  background-color: transparent;
  /* width: 300px; */
  height: 200px;
  /* border: 1px solid #f1f1f1; */
  /* border: 5px solid black; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 5px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 5px;
  box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.9);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border-radius: 5px;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 5px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  overflow: hidden;
  border-radius: 5px;
}

/* Style the back side */
.flip-card-back {
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  color: white;
  transform: rotateY(180deg);
  border-radius: 5px;
  /* border: rgb(0, 0, 0) 3px solid; */
  padding: 2px;
}
.creators {
  object-fit: fill;
}
.col1 {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.ag {
  background-image: url("https://drive.google.com/thumbnail?id=1igDcGPvwho8XD3cTwPlO_2rsMgJt7Rbn");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.as {
  background-image: url("https://drive.google.com/thumbnail?id=1mRmc6wAvNbss4y5qOwIA3i_HV2SCMi1Z");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ps {
  background-image: url("https://drive.google.com/thumbnail?id=1mfmonsGcFTpyR56lc83KMiZhSrIx_cbI");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.rk {
  background-image: url("https://drive.google.com/thumbnail?id=1MXTXT380inKNUPR5jUDfcPZvDaVLPtro");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sp {
  background-image: url("https://drive.google.com/thumbnail?id=13mpHBNOXLEQlqMlTy_w2p59Yg5u-JlEe");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
