.creatorRow {
  background-color: rgba(160, 230, 150, 0.8);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 1.5em;
}

.flip-card {
  background-color: transparent;
  /* width: 300px; */
  height: 200px;
  /* border: 1px solid #f1f1f1; */
  /* border: 5px solid black; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 5px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 5px;
  box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.9);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border-radius: 5px;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 5px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  overflow: hidden;
  border-radius: 5px;
}

/* Style the back side */
.flip-card-back {
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  color: white;
  transform: rotateY(180deg);
  border-radius: 5px;
  /* border: rgb(0, 0, 0) 3px solid; */
  padding-top: 2px;
  padding-bottom: 2px;
}
.creators {
  object-fit: fill;
}
.col1 {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.ag {
  background-image: url("https://cdn.discordapp.com/attachments/824856858850230304/838360041211297813/IMG_0011.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.as {
  background-image: url("https://cdn.discordapp.com/attachments/824856858850230304/838359935590727710/42892319_546878025736070_6281028287556747264_n.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ps {
  background-image: url("https://cdn.discordapp.com/attachments/837728288825802795/844186100876181544/IMG-20181230-WA0009.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.rk {
  background-image: url("https://scontent.fccu10-1.fna.fbcdn.net/v/t1.6435-9/71965775_1002636226764513_5127098672521150464_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=174925&_nc_ohc=S0E3_GXpJQEAX_MvFNv&_nc_ht=scontent.fccu10-1.fna&oh=8fa502472b966a49eaf618c590b0d310&oe=60B39E38");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sp {
  background-image: url("https://media.discordapp.net/attachments/824856858850230304/844462522316488744/81284665_763882727424202_5426798556973367296_n.png?width=678&height=670");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-header {
  box-sizing: border-box;
  height: 50px;
  width: 200px;
  background-color: yellow;
  font-size: 30px;
  text-align: center;
  border-style: solid;
  box-shadow: 5px 5px 5px rgb(58, 52, 52);
}

hr {
  border: 0;
  border-bottom: 3px dashed rgb(5, 5, 5);
  background: #999;
}

.about_us_tag {
  text-align: center;
  font-size: 50px;
}

.noname {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
  color: darkred;
}

.web-team {
  background-color: yellow;
  height: 50px;
  width: 222px;
  margin: auto;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  border: 2px solid black;
}

.developer {
  font-style: italic;
}

.creator-github {
  color: darkgrey;
}

.creator-github i {
  font-size: x-large;
}

.creator-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
