.rhfactor {
  font-weight: bold;
  color: green;
  font-family: "Lucida Console", monospace;
}

.bb-bg {
  background-color: rgba(135, 206, 250, 0.8);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.bb-h {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
  color: darkred;
}

.blood-text {
  color: red;
  font-weight: bold;
}

.bb-modal-input {
  display: inline-block;
  width: 80px;
  border: 1px solid black;
}
