@media (min-width: 576px) {
  .modal-dialog-new1,
  .modal-dialog-new2 {
    max-width: 1000px !important;
    margin: 1.75rem auto;
  }
}

.nav-item1 a:hover {
  background-color: rgb(26, 67, 199);
}

.edit-profile {
  float: right;
  width: 150px;
  border: 2px solid black;
}

.hprofile-bg {
  background-color: #c8bee2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  margin-top: 0.2em;
}

.hospital-qr {
  text-align: center;
  display: block;
  width: 600px;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgb(2, 2, 2);
}

.hp-modal-input {
  display: inline-block;
  width: 30%;
  border: 1px solid black;
}

.hp-modal-input2 {
  display: inline-block;
  width: 100%;
  border: 1px solid black;
}

.hp-placepicker {
  text-align: center;
  color: violet;
  font-family: "Lucida Console", monospace;
}

.qr-info {
  text-align: center;
  color: maroon;
}

#MAP-hp {
  object-position: center;
  height: 250px;
  border: 5px solid rgba(148, 148, 148, 0.8);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 1em;
}
