.suggestions {
  background-color: rgba(0, 0, 139, 0.6);
  color: white;
  font-size: 0.9rem;
  padding: 2px;
}
.suggestions:hover {
  background-color: skyblue;
}

.slist {
  max-height: 150px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
}

#MAP {
  object-position: center;
  max-height: 250px;
}
.emergency_background {
  background-color: rgba(119, 209, 119, 0.8);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  font-family: "Helvetica One", sans-serif;
}
.e-selection {
  margin-right: 2em;
}
.mr-x {
  margin-right: 1em;
}
.MAP2 {
  object-position: center;
  max-height: 250px;
  border: 5px solid rgba(148, 148, 148, 0.8);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 1em;
}

.emer-h {
  color: darkmagenta;
  font-family: "Hoefler Text", Georgia, "Times New Roman", serif;
  text-align: center;
  /* font-weight: bold; */
}

.emer-attribute {
  color: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.emer-note {
  font-style: italic;
}

.emer-submit {
  background-color: darkblue;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.emer-submit:hover {
  color: white;
}

.emer-temp {
  display: inline-block;
}

@media (max-width: 767px) {
  .emer-temp {
    margin-bottom: 0.5em;
  }
}
