.carousel-inner {
  padding: 5px 0;
  /* border-radius: 25px; */
  /* background-color: #ecf671; */
  background-color: khaki;
  border: 2px tomato solid;
}
.carouselDiv {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
