/* @media (min-width: 576px) {
  .modal-dialog-new1,
  .modal-dialog-new2 {
    max-width: 1000px !important;
    margin: 1.75rem auto;
  }
} */

.card-text-ps {
  text-align: center;
  font-size: 30px;
}

.psh {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
  color: darkred;
}
