.distance_txt {
  font-size: 20px;
  font-family: "Helvetica One", sans-serif;
}
.blood_font {
  font-size: 20px;
  font-family: "Helvetica One", sans-serif;
}
.hospitalList {
  width: 100%;
}
.main-div-urslst {
  background-color: rgb(245, 222, 179, 0.8) !important;
  /* opacity: 70%; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  font-family: "Helvetica One", sans-serif;
}

.hl-temp {
  color: darkmagenta;
  text-align: center;
  font-family: "Lucida Console", monospace;
}

.hl-dropdown {
  overflow-x: hidden;
}

/* .filters {
  background-color: rgba(0, 0, 0, 0.3);
} */

.available {
  font-weight: bolder;
  color: transparent;
  text-shadow: 0 0 0 green;
  text-align: center;
}

.notAvailable {
  color: red;
  text-align: center;
  font-weight: bolder;
}

@media (max-width: 520x) {
  .dropdown-menu {
    width: 100%;
  }
  .hl-dropdown {
    width: 100%;
    max-width: 2rem;
  }
}

.filter-bg {
  color: red;
}

#res-Map {
  width: 85%;
  margin: auto;
  border: 5px solid rgba(148, 148, 148, 0.8);
  border-radius: 5px;
}
