.distance_txt {
  font-size: 20px;
  font-family: "Helvetica One", sans-serif;
}
.blood_font {
  font-size: 20px;
  font-family: "Helvetica One", sans-serif;
}
.hospitalList {
  width: 100%;
}
.main-div-urslst {
  background-color: rgb(245, 222, 179, 0.8) !important;
  /* opacity: 70%; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  font-family: "Helvetica One", sans-serif;
}
/* .filters {
  background-color: rgba(0, 0, 0, 0.3);
} */
