.centerbox {
  box-sizing: border-box;
  height: 400px;
  width: 750px;
  top: 400px;
  left: 500px;
  font-size: 30px;
  border-color: rgb(223, 61, 40);
  border-style: solid;
  position: absolute;
  text-align: center;
  border-image: fill;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  box-shadow: 20px 20px 20px rgb(233, 110, 80);
  color: rgb(224, 70, 32);
}

button:hover {
  background-color: lawngreen;
  color: rgb(233, 27, 13);
}
