.suggestions {
  background-color: rgba(0, 0, 139, 0.6);
  color: white;
  font-size: 0.9rem;
  padding: 2px;
}
.suggestions:hover {
  background-color: skyblue;
}

.slist {
  max-height: 150px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
}

#MAP {
  object-position: center;
  max-height: 250px;
}
.marker-icon {
  height: 48px;
}
