.p-attribute {
  display: inline;
  color: red;
}

.p-value {
  display: inline;
  font-style: italic;
}

.sidenav-bg {
  background-color: rgb(243, 237, 183);
}

.edit-profile2 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 2px solid black;
}

.fix-edit {
  padding: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  max-height: 15px;
  margin-left: 30px;
}

.profile-bg {
  background-color: #c8bee2;
  background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8); */
}

.p-card {
  font-weight: bold;
}

.p-head {
  max-height: 55px;
}

.fix-edit {
  position: static;
}

.editph {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
  color: darkred;
}

.user-dp {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  border: 2px solid black;
}

.img-change {
  margin-left: auto;
  margin-right: 10%;
}

.profile-modal-input1 {
  display: inline-block;
  width: 100px;
  border: 1px solid black;
}

.profile-modal-input2 {
  display: inline-block;
  width: 100px;
  border: 1px solid black;
}

.profile-modal-input3 {
  display: inline-block;
  width: 50px;
  border: 1px solid black;
}

.profile-modal-input4 {
  display: inline-block;
  width: 73%;
  border: 1px solid black;
}

.profile-modal-input5 {
  display: inline-block;
  width: 70px;
  border: 1px solid black;
}

.profile-modal-input6 {
  display: inline-block;
  width: 100%;
  border: 1px solid black;
}

.profile-placepicker {
  color: violet;
  font-family: "Lucida Console", monospace;
  text-align: center;
  font-weight: bold;
}

.hr-style {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.MAP-up {
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  border: 5px solid rgba(148, 148, 148, 0.5);
  overflow: hidden;
  /* height: 250px; */
}

.choice-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.choice-img {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 2px solid black;
}

.avatar-init {
  text-align: center;
  background-color: rgb(115, 131, 131);
  color: white;
  font-size: x-large;
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  padding-top: 0.7rem;
  font-weight: 600;
  border: 2px solid black;
}

.avatar-init-logo {
  width: 200px;
  height: 200px;
  font-size: 700%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  text-align: center;
  background-color: rgb(115, 131, 131);
  color: white;
  padding-top: 0.3rem;
  border: 2px solid black;
}

.choice1 {
  display: inline-block;
}
.choice2 {
  display: inline-block;
}
.choice3 {
  display: inline-block;
}
.choice4 {
  display: inline-block;
}
.choice5 {
  display: inline-block;
}

.av-head {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: darkmagenta;
}
